body{
    background: #000000;
    font-family: 'Inter', sans-serif;
}

header h1 {
    text-align: left;
    width: 100px;
    margin-top: 10px;
}

.enter{
    display: inline-block;
    text-align: center;
    width: 70%;
    vertical-align: top;
    margin: 25px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: #FFFFFF;
    height: 850px;
}

.enter textarea{
    flex-basis: 70%;
    border: none;
    display: flex;
    outline: none;
    resize: none;
    font-size: 32px;
    line-height: 48px;
    background: transparent;
}

.enter button{
    text-align: center;
    font-size: 25px;
    width: 25%;
    height: 55px;
    border-radius: 10px;
    margin-top: 30px;
}

.encriptar{
    background: #000000;
    color: #FFFFFF;
}

.desencriptar{
    background: #FFFFFF;
    color: #000000;
    border-color: #000000;
}

.resultado{
    display: inline-block;
    text-align: left;
    width: 20%;
    vertical-align: top;
    margin: 25px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: #FFFFFF;
}

.resultado button {
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    margin-top: 30px;
}

.resultado textarea{
    border-radius: 10px;
    border-width: 2.5px;
    border-color: #000000;
    padding: 5%;
    display: flex;
    outline: none;
    resize: none;
    line-height: 15.1px;
    font-size: 20px;
    background: transparent;
}

.vacio img{
    width: 100%;
    height: auto;
    
}

.vacio h2{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.vacio p{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.vacio{
    padding-bottom: 165px;
    padding-top: 185px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.oculto{
    display: none;
}

.creditos{
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
.logos{
    width:20px;
    height:20px;
    margin-left: 5px;
    margin: none;
    padding: none;
}